{% extends "app/layout.html" %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Изменить товар</h3>
				<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
					{{ userform.as_p }}
					<button type="submit" class="btn btn-success">Сохранить изменения</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
    <script>
	$("#username").val('{{ user.username }}')
	$("#password").val('{{ user.password }}')
	$("#mail").val('{{ user.mail }}')
	$("#{{role}}").attr('checked', 'true')


            
    </script>
 {% endblock %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>